main > .container {
    padding: 70px 15px 20px;
}

.footer {
    background-color: #f5f5f5;
    font-size: .9em;
    height: 60px;
}

.footer > .container {
    padding-right: 15px;
    padding-left: 15px;
}

.not-set {
    color: #c55;
    font-style: italic;
}

/* add sorting icons to gridview sort links */
a.asc:after, a.desc:after {
    content: '';
    left: 3px;
    display: inline-block;
    width: 0;
    height: 0;
    border: solid 5px transparent;
    margin: 4px 4px 2px 4px;
    background: transparent;
}

a.asc:after {
    border-bottom: solid 7px #212529;
    border-top-width: 0;
}

a.desc:after {
    border-top: solid 7px #212529;
    border-bottom-width: 0;
}

.grid-view th {
    white-space: nowrap;
}

.hint-block {
    display: block;
    margin-top: 5px;
    color: #999;
}

.error-summary {
    color: #a94442;
    background: #fdf7f7;
    border-left: 3px solid #eed3d7;
    padding: 10px 20px;
    margin: 0 0 15px 0;
}

/* align the logout "link" (button in form) of the navbar */
.nav li > form > button.logout {
    padding-top: 7px;
    color: rgba(255, 255, 255, 0.5);
}

@media(max-width:767px) {
    .nav li > form > button.logout {
        display:block;
        text-align: left;
        width: 100%;
        padding: 10px 0;
    }
}

.nav > li > form > button.logout:focus,
.nav > li > form > button.logout:hover {
    text-decoration: none;
    color: rgba(255, 255, 255, 0.75);
}

.nav > li > form > button.logout:focus {
    outline: none;
}

.preloader {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    background: white;
    z-index: 9999;
}

/* Customize the preloader */
.loader {
    width: 50px;
    height: 50px;
    border: 5px solid #000;
    border-radius: 50%;
    border-top-color: transparent;
    animation: loader-rotate 1s linear infinite;
}

/* Animation for rotating preloader */
@keyframes loader-rotate {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

main {
    margin-top: 66px;
}

.color-spector {
    width: 20px;
    height: 20px;
    display: inline-block;
    border-radius: 5px;
    cursor: pointer;
    user-select: none;
}

.color-for-0 {
    background: white;
}

.color-for-1 {
    background-color: #f92f00;
}

.color-for-2 {
    background-color: #ffb96e;
}

.color-for-3 {
    background-color: #f2e9a6;
}

.color-for-4 {
}

.color-for-5 {
    background-color: #91b222;
}

.color-for-6  {
    background-color: rgb(0, 102, 0);
}

.flag-icon {
    width: 26px;
    height: 16px;
    margin: auto 0;
}

.flag-icon-g {
    height: 16px;
    margin: auto 0;
}

.title-label {
    border-radius: 5px;
    border: 1px solid #c3c3c3;
    display: flex;
    align-items: flex-start;
}

.title-label-content {
    position: relative;
    display: block;
    width: 100%;
}

.title-label-content span:first-child {
    width: calc(50% - 18px) !important;
    border-right: 1px solid;
}

.title-label-content span {
    width: calc(50% + 18px) !important;
    display: inline-block;
    margin: 0;
    text-align: center;
}

.title-label-disabled .title-label-content span:first-child {
    width: calc(50% - 30px) !important;
}

.title-label-disabled .title-label-content span {
    width: calc(50% + 30px) !important;
}

.grid-view {
    width: 100%;
    border-collapse: collapse;
}

.grid-view th {
    overflow: hidden;
    font-weight: 400 !important;
    border: none !important;
    padding: 12px 0 12px 12px;
    vertical-align: middle;
    text-align: center;
    box-sizing: border-box;
}

.grid-view th.join-right > div {
    border-bottom-right-radius: 0;
    border-top-right-radius: 0;
}

.grid-view th.join-left {
    padding-left: 0;
}

.grid-view th.join-left > div {
    border-bottom-left-radius: 0;
    border-top-left-radius: 0;
}

.grid-view th > div {
    background-color: white;
    padding: 4px 12px;
    border-radius: 5px;
}

.grid-view td {
    border: none !important;
}

.title-value {
    display: flex;
    justify-content: space-around;
}

.title-value span, .title-value div {
    width: calc(50% - 2px);
    display: inline-block;
}

.title-label-disabled {
    color: white;
    background-color: transparent !important;
}

.title-label-disabled .flag-icon:first-child {
    margin-right: 8px;
}

.flag-icon-g {
    margin-right: 8px;
}

.grid-view thead {
    background-color: #444444;
}

.icon {
    background-position: center;
    background-size: cover;
    display: inline-block;
    margin-right: 12px;
    margin-top: 6px;
    width: 22px;
    height: 22px;
}

.b-icon {
    height: 60px;
}

.m-icon {
    height: 40px;
    width: 40px;
}


.archive {
    margin-top: 0;
    width: 28px;
}

.archive-red {
    background-image: url("/images/icons/archive_red.png");
}

.remove {
    background-image: url("/images/icons/delete.png");
}

.archive-white {
    margin-top: 0;
    width: 28px;
    background-image: url("/images/icons/archive_white.png");
}

.save-filled {
    background-image: url("/images/icons/save_filled.png");
}

.save-green {
    background-image: url("/images/icons/save_green.png");
}

.save-white {
    background-image: url("/images/icons/save_white.png");
}

.save-green-filled {
    background-image: url("/images/icons/save_green_filled.png");
}

.forward-gray {
    background-image: url("/images/icons/forward_gray.png");
}

.restore {
    background-image: url("/images/icons/restore.png");
}

.forward-black {
    background-image: url("/images/icons/forward_black.png");
}

.push-black {
    background-image: url("/images/icons/push_black.png");
}

.priority-1 {
    background-image: url("/images/icons/high_priority.png");
}

.priority-2 {
    background-image: url("/images/icons/very_high_priority.png");
}

.comment {
    background-image: url("/images/icons/comment.png");
}

.backward-black {
    background-image: url("/images/icons/backward-black.png");
}

.backward-gray {
    background-image: url("/images/icons/backward-gray.png");
}

.update {
    background-image: url("/images/icons/update.png");
}

.grid-view td {
    padding: 8px !important;
    padding-top: 20px !important;
}
.nav-pill {
    color: black;
    padding: 8px;
    margin: 6px;
    text-decoration: none;
    height: 48px;
    display: table-cell;
    vertical-align: middle;
}

.nav-pill.active {
    background: #444;
    color: white;
    padding-top: 8px;
    border-radius: 5px;
}

.nav-pill.active .pill-badge-primary, .nav-pill.active .pill-badge-dark {
    background: white;
    color: #444;
}

.item-search-bar {
    margin-bottom: 8px;
}

.pill-badge {
    color: white;
    border-radius: 5px;
    padding: 4px;
    display: inline-block;
    text-align: center;
    min-width: 44px;
}

.pill-badge-primary {
    background: #ff8900;
}

.pill-badge-dark {
    background: #464646;
}

.pill-badge-grey {
    background: #b1b1b1;
}

.pill-badge-danger {
    background: red;
}

textarea.form-control {
    min-height: 80px !important;
}

.grid-view tbody {
    font-size: 14px !important;
}

.grid-view tbody textarea, select, input {
    min-width: 0;
    font-size: 12px !important;
}

.navbar {
    background-color: white !important;
}

.navbar-brand {
    color: black !important;
}

.underlined-nav-link .nav-link {
    color: #2384ec !important;
}

.nav-link {
    border: 4px;
    color: black !important;
}

.table-striped > tbody > tr:nth-of-type(odd) > * {
    --bs-table-accent-bg: #f7f7f7;
}

nav .collapse {
    position: absolute;
    right: 0;
}

a.nav-link {
    font-size: 19px;
    margin-right: 5px;
}

.nav-link.active {
    background: #ff8900;
    color: white !important;
    border-radius: 8px;
    padding: 8px 20px !important;
}

.dropdown-menu {
    width: 220px;
}

.submenu_item {
    padding: 8px 0 !important;
}
.steps-container {
    padding: 4px;
    background: #f7f7f7;
}

.absolute-center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.align-super {
    vertical-align: super;
}

.small-button {
    padding: 0 12px;
    font-size: 13px;
    height: 24px
}

.fa-circle {
    color: white;
}


.select2.select2-container {
    width: 100% !important;
}

.select2.select2-container .select2-selection {
    border: 1px solid #ccc;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    height: 34px;
    margin-bottom: 15px;
    outline: none !important;
    transition: all .15s ease-in-out;
}

.select2.select2-container .select2-selection .select2-selection__rendered {
    color: #333;
    line-height: 32px;
    padding-right: 33px;
}

.select2.select2-container .select2-selection .select2-selection__arrow {
    background: #f8f8f8;
    border-left: 1px solid #ccc;
    -webkit-border-radius: 0 3px 3px 0;
    -moz-border-radius: 0 3px 3px 0;
    border-radius: 0 3px 3px 0;
    height: 32px;
    width: 33px;
}

.select2.select2-container.select2-container--open .select2-selection.select2-selection--single {
    background: #f8f8f8;
}

.select2.select2-container.select2-container--open .select2-selection.select2-selection--single .select2-selection__arrow {
    -webkit-border-radius: 0 3px 0 0;
    -moz-border-radius: 0 3px 0 0;
    border-radius: 0 3px 0 0;
}

.select2.select2-container.select2-container--open .select2-selection.select2-selection--multiple {
    border: 1px solid #34495e;
}

.select2.select2-container .select2-selection--multiple {
    height: auto;
    min-height: 34px;
}

.select2.select2-container .select2-selection--multiple .select2-search--inline .select2-search__field {
    margin-top: 0;
    height: 32px;
}

.select2.select2-container .select2-selection--multiple .select2-selection__rendered {
    display: block;
    padding: 0 4px;
    line-height: 29px;
}

.select2.select2-container .select2-selection--multiple .select2-selection__choice {
    background-color: #f8f8f8;
    border: 1px solid #ccc;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    margin: 4px 4px 0 0;
    padding: 0 6px 0 22px;
    height: 24px;
    line-height: 24px;
    font-size: 12px;
    position: relative;
}

.select2.select2-container .select2-selection--multiple .select2-selection__choice .select2-selection__choice__remove {
    position: absolute;
    top: 0;
    left: 0;
    height: 22px;
    width: 22px;
    margin: 0;
    text-align: center;
    color: #e74c3c;
    font-weight: bold;
    font-size: 16px;
}

.select2-container .select2-dropdown {
    background: transparent;
    border: none;
    margin-top: -5px;
}

.select2-container .select2-dropdown .select2-search {
    padding: 0;
}

.select2-container .select2-dropdown .select2-search input {
    outline: none !important;
    border: 1px solid #34495e !important;
    border-bottom: none !important;
    padding: 4px 6px !important;
}

.select2-container .select2-dropdown .select2-results {
    padding: 0;
}

.select2-container .select2-dropdown .select2-results ul {
    background: #fff;
    border: 1px solid #34495e;
}

.select2-container .select2-dropdown .select2-results ul .select2-results__option--highlighted[aria-selected] {
    background-color: #3498db;
}

.flag-changeable {
    margin-top: -5px;
    cursor: pointer;
}

.group-config, .group-content {
    height: 100%;
    min-height: 300px;
}

.group-index {
    height: calc(100vh - 200px);
}

.grid-view {
    height: calc(100vh - 200px);
    overflow: auto;
}

.grid-view thead {
    position: sticky;
    top: 0;
    z-index: 2;
}

.fa-circle.active {
    color: #00ba00;
}

.fa-circle.disabled {
    color: red;
}

.group-item {
    height: 126px;
    margin: 8px 0;
    background-color: #f8f8f8;
    padding: 12px;
}

.report-group {
    height: 60px;
    margin: 8px 0;
    background-color: #f8f8f8;
    padding: 12px;
}

.report-group-main {
    width: 91.66666667%;
}

.group-item-content {
    padding: 0 12px;
}

.group-item-description-editable, .report-group-description-editable {
    height: 48px;
    width: 100%;
    resize: none;
}

.group-item-title-ru, .group-item-title-en {
    display: inline-block;
    width: 100%;
    white-space: nowrap;
    overflow: hidden !important;
    text-overflow: ellipsis;
}

.group-item-description-ru, .group-item-description-en, .report-group-description {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    height: 48px;
    overflow: hidden;
    text-overflow: ellipsis;
}

.group-item-description-ru:not(:last-child)::after, .group-item-description-en:not(:last-child)::after, .report-group-description:not(:last-child)::after {
    content: "...";
    margin-left: 2px;
}

.group-item-rule, .report-group-rule {
    background: #ff0000;
    color: white;
    width: 22px;
    height: 22px;
    text-align: center;
}

.group-item-template, .report-group-template {
    display: none !important;
}

.dropdown-menu {
    position: absolute;
    top: 100%;
}

.custom-radio input[type="radio"] {
    display: none; /* hide the actual checkbox */
}

.custom-radio label:before {
    content: ' ';
    width: 14px;
    height: 14px;
    background-color: white;
    border: 1px solid #003c47;
    display: inline-block;
    margin-right: 4px;
}

.custom-radio input[type="radio"]:checked + label:before {
    background-color: #003c47; /* fill the checkbox when checked */
}


.custom-checkbox input[type="checkbox"] {
    display: none; /* hide the actual checkbox */
}

.custom-checkbox label:before {
    content: ' ';
    width: 14px;
    height: 14px;
    background-color: white;
    border: 1px solid #003c47;
    display: inline-block;
    margin-right: 4px;
}

.custom-checkbox input[type="checkbox"]:checked + label:before {
    background-color: #003c47; /* fill the checkbox when checked */
}

.btn-dark-blue, .btn-dark-blue:hover, .btn-dark-blue:active {
    background: #003c47 !important;
    color: white !important;
}

.nav-link-dark-blue.active {
    background: #003c47 !important;
    color: white !important;
}

.btn-reset {
    color: red;
    text-decoration: underline;
}

.pagination {
    display: flex;
    /*justify-content: center;*/
    /*align-items: center;*/
    list-style: none;
    margin: 0;
    padding: 0;
}

.pagination li {
    display: inline-block;
    margin: 0;
    padding: 0;
}

.pagination li a, .pagination li span {
    display: inline-block;
    padding: 5px 10px;
    border: 1px solid #ddd;
    border-radius: 3px;
    color: #333;
    text-decoration: none;
}

.pagination li.active a {
    background-color: #337ab7;
    color: #fff;
    border-color: #337ab7;
}

.group-content, .report-content {
    width: 100%;
}

.group-tabs, .report-tabs {
    background: #f8f8f8;
}

.tab-pane {
    padding: 8px 20px;
}

.tab-content {
    height: calc(100vh - 220px);
    overflow: auto;
}

.group-item-container {
    height: calc(100vh - 180px);
    overflow: auto;
}

.group-save {
    width: 140px;
    padding: 2px;
    margin-top: 12px;
    float: right;
    font-size: 14px !important;
    margin-right: 12px;
}

.group-content, .report-content {
    margin-left: 20px;
}

.group-content .nav-link.active, .report-content .nav-link.active {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}

.simple-grid th a {
    background: white;
    width: 100%;
    height: 100%;
    display: inline-block;
    padding: 4px 12px;
    border-radius: 5px;
    text-decoration: none;
}

.droppable .group-item {
    flex: 0 0 auto;
    width: calc(33.33333333% - 4px);
    margin-left: 4px;
    float: left;
    border: 1px solid #003c47;
}

.droppable .report-group {
    flex: 0 0 auto;
    margin-left: 4px;
}

.change-group-item-language {
    cursor: pointer;
}

.switch {
    position: relative;    
    display: inline-block;
    width: 60px;    
    height: 34px;
}
.switch input {    
    opacity: 0;
    width: 0;    
    height: 0;
}
.slider {
    position: absolute;    
    cursor: pointer;
    top: 0;    
    left: 0;
    right: 0;
    bottom: 0;    
    background-color: #ccc;
    -webkit-transition: .4s;    
    transition: .4s;
}
.slider:before {    
    position: absolute;
    content: "";    
    height: 26px;
    width: 26px;    
    left: 4px;
    bottom: 4px;    
    background-color: white;
    -webkit-transition: .4s;    
    transition: .4s;
}
input:checked + .slider {    
    background-color: #2196F3;
}
input:focus + .slider {    
    box-shadow: 0 0 1px #2196F3;
}
input:checked + .slider:before {    
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);    
    transform: translateX(26px);
}
/* Rounded sliders */
.slider.round {
    border-radius: 34px;
}
.slider.round:before {
    border-radius: 50%;
}

.accordion-item {
    position: relative;
}

.accordion-body {
    background: white;
    padding: 12px;
}