main > .container {
    padding: 70px 15px 20px;
}

.footer {
    background-color: #f5f5f5;
    font-size: .9em;
    height: 60px;
}

.footer > .container {
    padding-right: 15px;
    padding-left: 15px;
}

.not-set {
    color: #c55;
    font-style: italic;
}

/* add sorting icons to gridview sort links */
a.asc:after, a.desc:after {
    content: '';
    left: 3px;
    display: inline-block;
    width: 0;
    height: 0;
    border: solid 5px transparent;
    margin: 4px 4px 2px 4px;
    background: transparent;
}

a.asc:after {
    border-bottom: solid 7px #212529;
    border-top-width: 0;
}

a.desc:after {
    border-top: solid 7px #212529;
    border-bottom-width: 0;
}

.grid-view th {
    white-space: nowrap;
}

.hint-block {
    display: block;
    margin-top: 5px;
    color: #999;
}

.error-summary {
    color: #a94442;
    background: #fdf7f7;
    border-left: 3px solid #eed3d7;
    padding: 10px 20px;
    margin: 0 0 15px 0;
}

/* align the logout "link" (button in form) of the navbar */
.nav li > form > button.logout {
    padding-top: 7px;
    color: rgba(255, 255, 255, 0.5);
}

@media(max-width:767px) {
    .nav li > form > button.logout {
        display:block;
        text-align: left;
        width: 100%;
        padding: 10px 0;
    }
}

.nav > li > form > button.logout:focus,
.nav > li > form > button.logout:hover {
    text-decoration: none;
    color: rgba(255, 255, 255, 0.75);
}

.nav > li > form > button.logout:focus {
    outline: none;
}

.items-container {
    min-height: 100px;
}

.item-template {
    display: none;
}
.item {
    user-select: none;
}

.item-sector {
    position: absolute;
    width: 100%;
    height: 100%;
}

td:has(> .item-sector) {
    margin: 0;
    padding: 0;
    position: relative;
}

.color-for-critical {
    background-color: rgb(255, 0, 0);
}

.color-for-bad {
    background-color: rgb(200, 0, 0);
}

.color-for-notenough {
    background-color: rgb(255, 102, 0);
}

.color-for-good {
    background-color: rgb(0, 153, 51);
}

.color-for-verygood  {
    background-color: rgb(0, 102, 0);
}
.container-fluid {
    margin-top: 60px;
}

.flag-icon {
    height: 16px;
    margin: auto 0;
}

.title-label {
    border-radius: 5px;
    border: 1px solid #c3c3c3;
    display: flex;
    align-items: flex-start;
}

.title-label-content {
    position: relative;
    display: block;
    width: 100%;
}

.title-label-content span:first-child {
    width: calc(50% - 15px) !important;
    border-right: 1px solid;
}

.title-label-content span {
    width: calc(50% + 15px) !important;
    display: inline-block;
    margin: 0;
    text-align: center;
}

.grid-view {
    width: 100%;
    border-collapse: collapse;
}

.grid-view th {
    overflow: hidden;
    font-weight: 400 !important;
    border: none !important;
    padding: 12px 0 12px 12px;
    vertical-align: middle;
    text-align: center;
    box-sizing: border-box;
}

.grid-view th.join-right > div {
    border-bottom-right-radius: 0;
    border-top-right-radius: 0;
}

.grid-view th.join-left {
    padding-left: 0;
}

.grid-view th.join-left > div {
    border-bottom-left-radius: 0;
    border-top-left-radius: 0;
}

.grid-view th > div {
    background-color: white;
    padding: 4px 12px;
    border-radius: 5px;
}

.grid-view td {
    border: none !important;
}

.title-value {
    display: flex;
}

.title-value span {
    width: 50%;
    display: inline-block;
}

.title-label-disabled {
    color: white;
    background-color: transparent !important;
}

.title-label-disabled .flag-icon:first-child {
    margin-right: 8px;
}

.grid-view thead {
    background-color: #444444;
}

.icon {
    background-position: center;
    background-size: cover;
    display: inline-block;
    margin-right: 12px;
    margin-top: 6px;
    width: 22px;
    height: 22px;
}

.archive {
    width: 28px;
    height: 28px;
}

.archive-red {
    background-image: url("/images/icons/archive_red.png");
}

.save-filled {
    background-image: url("/images/icons/save_filled.png");
}

.save-green {
    background-image: url("/images/icons/save_green.png");
}

.save-green-filled {
    background-image: url("/images/icons/save_green_filled.png");
}

.forward-gray {
    background-image: url("/images/icons/forward_gray.png");
}

.forward-black {
    background-image: url("/images/icons/forward_black.png");
}

.grid-view td {
    padding: 8px !important;
    padding-top: 20px !important;
}

.nav-pills {
    margin-top: 12px;
}
.JPadding > tbody > tr > td, .JPadding > tbody > tr > th {
    padding-left: 8!important;
    padding-right: 8!important;
}

.nav-pill {
    color: black;
    padding: 8px;
    margin: 6px;
    text-decoration: none;
}

.nav-pill.active {
    border-bottom: 2px solid black;
}

.item-search-bar {
    margin: 40px 0 12px 0;
    background-color: #f1f1f1;
}

.pill-badge {
    color: white;
    border-radius: 5px;
    width: 50px;
    display: inline-block;
    text-align: center;
}

.pill-badge-primary {
    background: #444444;
}

.pill-badge-danger {
    background: red;
}

textarea.form-control {
    min-height: 80px !important;
}